@model DATAMODEL.ROUTE
@{int rowNo = 0;}

        <table id="dataTables" class="table table-bordered table-hover table-striped">
           
            <thead>
                <tr><th>Route Name :</th><th colspan="4">@Model.NAME</th></tr>
                <tr>
                    <th>
                        Sr No.
                    </th>
                    <th> Name</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var vb in @Model.VENDOR_BRANCH)
                {
                    
                        <tr>
                            <td>@{rowNo++;}@rowNo</td>
                            <td> @vb.VBNAME @vb.ADDRESS </td>
                            <td>
                                @{
                        Decimal total_debit = (decimal)vb.PYMENTs.Where(p => p.IS_ACTIVE == true).Sum(x => x.ADVANCE_AMOUNT) + (decimal)@vb.BANK_RECORDS.Where(m => m.IS_ACTIVE == true).Sum(x => x.AMOUNT);
                                }
                                @total_debit
                            </td>
                            <td>
                                @vb.VENDOR_ROUTE_ENTRY.Where(x=>x.IS_VERIFY==true).Sum(x=>x.V_WEIGHT*x.RATE)
                            </td>
                            
                           <td>
                               @{Decimal blnce = total_debit - (decimal)vb.VENDOR_ROUTE_ENTRY.Where(x=>x.IS_VERIFY==true).Sum(x => x.V_WEIGHT * x.RATE);
                                    }@blnce
                           </td>
                           
                        </tr>
                }
            </tbody>

        </table>