
@model DATAMODEL.ST_ISSUE_STOCK
@{
    ViewBag.Title = "IssueStationaryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Issue Stationary Detail (@Model.START_ISSUE_SERIAL - @Model.END_ISSUE_SERIAL)</h4>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-hover table-striped">
            @{int rowNo = 0;}
            <thead>
                <tr><th colspan="2">Available Slips </th> </tr>
                <tr>
                    <th>Sr No</th>
                    <th> Slip Number</th>
                    
                </tr>
            </thead>
                <tbody>
                    @for (long i = (long)@Model.START_ISSUE_SERIAL; i <= (long)@Model.END_ISSUE_SERIAL; i++)
                    {
                        int usedslipstatus = 0;
                        foreach (var usedSlip in @ViewBag.UsedSlips)
                        {
                            if (usedSlip == i)
                            {
                                usedslipstatus++;
                            }
                        }
                        if (usedslipstatus == 0)
                        {
                            int counter = 0;
                            if (@ViewBag.CancelSlips != null)
                            {
                                foreach (var al_ready_cancle in @ViewBag.CancelSlips)
                                {
                                    if (al_ready_cancle.CANCEL_NO == i)
                                    { { counter++; } }
                                }
                            }
                            if (@counter == 0)
                            {
                                <tr >
                                    <td>@{rowNo++;}@rowNo</td>
                                    <td>@i </td>
                                    
                                </tr>
                            }
                        }
                    }
                </tbody>
        </table>
        </div>
    <div class="col-md-4">
        <table class="table table-bordered table-hover table-striped">
            @{int rowNo1 = 0;}
            <thead>
                <tr><th colspan="2">Used Slips</th></tr>
                <tr>
                    <th>Sr No</th>
                    <th> Slip Number</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var usedSlip in @ViewBag.UsedSlips)
                {
                    <tr style="background-color:#7FBD77">
                        <td> @{rowNo1++;} @rowNo1</td>
                        <td>
                            @usedSlip
                        </td>
                    </tr>
                }
                <tr>
                    <td>Total Used: @rowNo1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-bordered table-hover table-striped">
            @{int rowNo2 = 0;}
            <thead>
                <tr><th>Canceled Slips</th><th> @Html.ActionLink("Cancel More", "CancelSlip", new {Issue_St_id=@Model.ST_ISSUE_STK_ID })</th></tr>
                <tr>
                    <th>Sr No</th>
                    <th> SLip Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var al_ready_cancle in @ViewBag.CancelSlips)
                {
                    <tr style="background-color:#8BAAAD">
                        <td> @{rowNo2++;} @rowNo2</td>
                        <td>
                            @al_ready_cancle.CANCEL_NO
                         
                        </td>
                    </tr>
                }
                <tr>
                    <td>Total Canceled: @rowNo2</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>