
@model DATAMODEL.VENDOR_BRANCH
@{
    ViewBag.Title = "AddNewCheque";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Banks = BusinessEntities.DropDownBO.DropDownBO.AllBanks();
}

<h2>Add New Cheque</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-bordered table-hover table-striped ">
            <thead>
                <tr><th>Name</th><th>@Model.VBNAME @Model.ADDRESS</th></tr>
            </thead>
            <tbody>
               
                 @using (Html.BeginForm("AddNewCheque","Bank",FormMethod.Post))
                 {
                    <tr><td>cheque No</td><td><input type="text" name="chequeNo" required="required" class="form-control" placeholder="Cheque No" style="background-color:#CCFFCC;"> </td></tr>
                    <tr><td>Amount </td><td><input type="number" name="Amount" required="required" class="form-control" placeholder="Amount" style="background-color:#CCFFCC;"></td></tr>
                    <tr>
                        <td>Bank </td>
                        <td>
                            @Html.DropDownList("Bank_ID", Banks.Select(m => new SelectListItem { Text = m.BANK_NAME, Value = m.BANKNAME_ID.ToString() }), "--Select Bank--"
                                              , new { @class = "span2 searchcss form-control searchselect", @required = true, id = "Bank_ID", style = "background-color:#CCFFCC;" })
                        </td>
                    </tr>
                     <tr><td>Cash Date </td><td><input type="date" name="CashDate" required="required" class="form-control" style="background-color:#CCFFCC;"></td></tr>
                   
                    <tr><td colspan="2">
                            <input type="hidden" value="@Model.VENDOR_BRANCH_ID" name="VENDOR_BRANCH_ID" />
                            <input type="hidden" value="@Model.VENDOR_ID" name="VENDOR_ID" />
                        <input type="submit" value="Add Cheque" class="btn btn-success">
                            </td></tr>
                 }
                
            </tbody>
        </table>
    </div>
</div>