@model IEnumerable<DATAMODEL.PYMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vehicles = BusinessEntities.DropDownBO.DropDownBO.ALLVehicles();
    var Drivers = BusinessEntities.DropDownBO.DropDownBO.AllDrivers();
    var Cash_head = BusinessEntities.DropDownBO.DropDownBO.ALLCashHeadNames();

}
<div class="row">
    <div class="col-lg-3"><h2>Routes</h2></div>

</div>
@ViewBag.message
<div class="row">

    <div class="col-lg-12">

        @{int sr_no = 0; }
        <div class="table-responsive">
            <table id="dataTables-1" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <td>vendor Name</td>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Head Name</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.ADVANCE_AMOUNT > 0)
                        {
                            <tr>
                                <td> @{sr_no++;} @sr_no</td>
                                <td>@item.VENDOR_BRANCH.VBNAME @item.VENDOR_BRANCH.ADDRESS</td>
                                <td>@item.ADVANCE_AMOUNT</td>
                                <td>@item.TRANS_DATE</td>
                                <td>@item.fk_payment_headcashName.NAME</td>
                                <th><a href="javascript:;" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal1-@item.PYMENT_ID" onclick="loadXMLDoc(@item.PYMENT_ID)">&nbsp;&nbsp; Edit</a></th>
                                <td>
                                    <a href="a href=" javascript:;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.PYMENT_ID" onclick="loadXMLDoc(@item.PYMENT_ID)">&nbsp;&nbsp;Delete</a>

                                </td>
                            </tr>

                            <div class="modal fade " id="myModal1-@item.PYMENT_ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="padding:45px">
                                        @using (Html.BeginForm("UpdatecashVoucher", "Vouchers", FormMethod.Post))
                                        {
                                            <fieldset>
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"> @item.VENDOR_BRANCH.VBNAME</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-4"><label> Amount</label></div>
                                                        <div class="col-lg-5">
                                                            @{var Amount = (double)item.ADVANCE_AMOUNT;}
                                                            <input type="number" value="@Amount" class="form-control" required="required" name="Entry_date" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4"><label> Date</label></div>
                                                        <div class="col-lg-5">
                                                            @item.TRANS_DATE.Value.ToShortDateString()
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="background:none;">
                                                    <button type="submit" class="btn ownbtn">Submit</button>
                                                </div>
                                            </fieldset>
                                        }

                                    </div>
                                    <!--Model content-->
                                </div>
                            </div>

                            <div class="modal fade " id="myModal-@item.PYMENT_ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="padding:45px">
                                        @using (Html.BeginForm("DeletecashVoucher", "Vouchers", FormMethod.Post))
                                        {
                                            <fieldset>
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"> @item.VENDOR_BRANCH.VBNAME</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-4"><label> Are you sure to Delete This Payment?</label></div>
                                                        <div class="col-lg-5">
                                                            @{var Amount = (double)item.ADVANCE_AMOUNT;}
                                                            <input type="hidden" value="@item.PYMENT_ID" class="form-control" required="required" name="paymentId" />
                                                            <input type="number" value="@Amount" class="form-control" required="required" name="Amount" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4"><label> Date</label></div>
                                                        <div class="col-lg-5">
                                                            @item.TRANS_DATE.Value.ToShortDateString()
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="background:none;">
                                                    <button type="submit" class="btn ownbtn">Confirm</button>
                                                </div>
                                            </fieldset>
                                        }

                                    </div>
                                    <!--Model content-->
                                </div>
                            </div>

                        }
                    }


                </tbody>

            </table>

        </div>
    </div>
</div>
