
@model DATAMODEL.PYMENT
<br />
<table class="table table-bordered table-hover table-striped ">
    <tbody>
        <tr><td> @Model.VENDOR_BRANCH.ROUTE.NAME</td><td>@Model.VENDOR_BRANCH.VENDOR_BRANCH_ID  @Model.VENDOR_BRANCH.VBNAME @Model.VENDOR_BRANCH.ADDRESS - کھاتہ نمبر </td></tr>
        <tr><td>New Amount Added </td><td> Rs:  @Model.ADVANCE_AMOUNT</td></tr>
        
           
        
        <tr><td> Transaction Date</td><td> @Model.TRANS_DATE</td></tr>
        <tr>
            <td >Total Credit</td>
            <td> @ViewBag.totalCrDbt.Totalcredit</td>
        </tr>
        <tr>
            <td>Total Debit</td>
            <td> @ViewBag.totalCrDbt.TotalDebit</td>
       
        </tr>
        <tr>
            <td>Total Weight</td>
            <td> @ViewBag.Weight</td>
        </tr>
    </tbody>
</table>
<br />




