@model DATAMODEL.CUSTOM_MODEL.VLedgerCM

@if (@Model.CONTRACT_TYPE == 1 || @Model.CONTRACT_TYPE == 2)
{

    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="headinglist" style="text-align:center"><strong>  ایشیا پولٹری پروٹین </strong></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>0346-4884848</td> <th>شکایت نمبر </th><td>@Model.RouteName</td><th>روٹ نمبر</th><td>@Model.V_BRANCH_ID</td><th>کھاتہ نمبر</th></tr>
                    <tr dir="rtl"><td>@Model.Advance_Amount</td> <th> سابقہ رقم</th><td colspan="2">@Model.V_NAME @Model.ADDRESS</td> <th colspan="2"> نام دوکاندار بمعہ پتہ</th></tr>
                    <tr dir="rtl"><td>@Model.Select_Date_Advance_Amount</td> <th> موجودہ ماہ  ایڈوانس رقم</th><td colspan="2">@ViewBag.MonthName @ViewBag.year</td> <th colspan="2">ماہ</th></tr>
                    <tr dir="rtl"><td>@Model.Total_Amount</td> <th dir="rtl"> رقم مال</th> <td colspan="3" rowspan="2"></td> <th rowspan="2"> دستخط</th> </tr>
                    <tr dir="rtl"><td>@Model.Remaining_Amount</td> <th> بقایا رقم</th></tr>
                </tbody>
            </table>
        </div>

    </div>

}
else
{
    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            <h3 class="headinglist" style="text-align:center"><strong>  ایشیا پولٹری پروٹین </strong></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>0346-4884848</td> <th>شکایت نمبر </th><td>@Model.RouteName</td><th>روٹ نمبر</th><td>@Model.V_BRANCH_ID</td><th>کھاتہ نمبر</th></tr>
                    <tr dir="rtl"><td>@Model.Advance_Amount</td> <th> ٹوٹل سابقہ رقم</th><td colspan="2">@Model.V_NAME @Model.ADDRESS</td> <th colspan="2"> نام دوکاندار بمعہ پتہ</th></tr>
                    <tr dir="rtl"><td>@Model.Select_Date_Advance_Amount</td> <th> موجودہ ماہ رقم</th><td colspan="2">@ViewBag.MonthName @ViewBag.year</td> <th colspan="2">ماہ</th></tr>
                    <tr dir="rtl"><td>@Model.Total_Amount</td> <th dir="rtl"> رقم مال</th> <td colspan="3" rowspan="2"></td> <th rowspan="2"> دستخط</th> </tr>
                    <tr dir="rtl"><td>@Model.Remaining_Amount</td> <th> بقایا رقم</th></tr>
                </tbody>
            </table>
        </div>

    </div>

}
